

#form-cont-adbks {
    display:flex;
    justify-content:center;
    margin-top: 3vh;
}

#form-adbks {
    padding: 25px;
    border: 2px solid #ffffff;
    background: #ffffff;
    border-radius: 25px;
    max-width: 80vw;
    min-width: 80vw;
}

#title-adbks {
    text-align: center;
    margin-bottom: 3vh;
}

.form-row-adbks {
    display:flex;
    justify-content:space-between;
}

#addbut-adbks {
    margin-top: 3vh;
}
