

    #background {
        background-image: url('../images/books_background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 120% 120%;
        min-height: 100vh;
        min-width: 100vw;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }