

#row-style-b {
    border:2px solid #ffffff;
    border-radius: 10px;
    background:  #ffffff;
    margin: 1%;

    /* align-items: center;
    text-align: center; */

    max-width:85%;

    border: 1px solid whitesmoke;
}

#pic-b{

    max-height: 15vh;
    max-width: 6vw;

    min-height: 15vh;
    min-width: 6vw;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#maincol1-b {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-width: 12vw;
    max-width: 12vw;
}

#maincol2-b {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#col2-b {
    padding: 3%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-small;
}

#col3-b {
    padding: 3%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-small;
}

#row1-text-b {
    text-align: center;
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

#row2-buttons-b {
    text-align: center;
    min-width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;

}

#button-mi-b {
    font-size: xx-small;
    margin: 1vh;

}

#button-atc-b {
    font-size: xx-small;
    margin: 1vh;
}