
    
    .main-cont-cart {
        max-width: 70vw;
    }


    #h1-style-cart {
        font-size: 2.5em;
        color: white;
        text-align: center;
    }

    .row-list-cart {

        background: white;
        border-radius: 5px;

        margin: 1%;
    }

    .col-cover-cart {

        text-align: center;
        max-width: 12vw;
        min-width: 12vw;
    
    }

    #img-cart {
        max-height: 22vh;
        min-height: 22vh;
        max-width: 8vw;
        min-width: 8vw;

        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    

    .col-list-cart {

        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 20vw;
        min-width: 20vw;

    }

    #quant-select-cart {
        max-width: 3vw;
        border: 1px solid black;
    }

    .col-quantity-cart {

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 15vw;
        min-width: 15vw;

    }

    .col-price-cart {

        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 12vw;
        min-width: 12vw;

        font-size: larger;

    }

    .col-delete-cart {


        display:flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 2vw;

        max-width: 5vw;
        min-width: 5vw;

    }

    #formcontrol-div-cart {
        display: flex;
        justify-content: center;
    }

    
    #num-form-cart {
    }

    #delete-but-cart {
        max-width: 3vw;
    }

    #row-subtotal-cart {

        background: white;
        border-radius: 5px;
        
        margin: 1%;
        padding: 1%;

    }

    #subtotal-title-cart {
        margin-left: 1.5vw;
        font-size: x-large;
        font-weight: bold;
    }

    #subtotal-price-cart {
        margin-left: 40vw;
        font-size: x-large;
        font-weight: bold;
    }

    #delete-but-cart {
        
        margin: 3%;

    }

    #update-but-cart {
        
        font-size:xx-small;
        max-width: 4vw;
        min-width: 4vw;

        margin: 1vw;

    }

