

#title-checkout {
    color: white;
    text-align: center;
}

#cont1-co {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#card1-co {

    min-width: 100%;
    min-height: 100%;
    font-size: small;

}

#card1-title-co {
    margin-left: 1vw;
    margin-top: 1vh;
}

#col1-co {

    min-width: 80%;
    min-height: 80%;
    /* border: 1px solid black; */

}

#col2-co {
    /* border: 1px solid black; */
}

#li-co {
    display: flex;
    justify-content: space-between;

    min-height: 4.5vh;
    max-height: 4.5vh;
    
}

#li-gt-co {
    display: flex;
    justify-content: space-between;

    min-height: 4.5vh;
    max-height: 4.5vh;
    font-weight: bold;
    
}

#main-cont-checkout {
    background: #ffffff;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    border-radius: 25px;
}

#h2-checkout {
    margin-top:5%;
    margin-bottom: 4%;
    text-align: center;
    width: 100%;
}

#mainrow {
    width: 100%;
    margin-left: .1vw;
}

#maincol {

    width: 100%;
}

#main-form-co {
    padding-top: 3vh;
}

.form-titles-co {
    margin-left: -1vw;
}

#but-sub-co {
    margin-left: -1vw;
}








