

#main-cont-forgot {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

#form-style-forgot {
    border: 2px solid #ffffff;
    background: #ffffff;
    border-radius: 25px;
}