


#cont-hp {
    max-width: 90%;
    padding-bottom: 5%;
}

#title-hp {
    font-size: large;
    font-weight: bold;
    background-color:rgb(50, 53, 53, .80);
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 2%;    
    margin-left: 7%;
    margin-right: 7%;

}

#promo-bestseller-row-hp {

    text-align: center;

    margin: 2%;
    max-width: 90%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#column-hp {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    }

#card-style-hp {
    padding: 3%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #ffffff;
    }


#lGI-title-hp {
    background-color: transparent;
    padding-top: 3%;
}

#lGI-hp {
    background-color: transparent;
}

#lGI-links-hp {
    /* background-color: transparent; */
    text-align: center;
}

.but-mb-hp {
    background-color: transparent;
    text-align: center;
    border: none;
    color: rgb(15, 117, 241);

}

#image-hp {
    max-height: 45%;
    max-width: 55%;
    align-content: center;
}

#titlecont-hp {
    text-align: center;
    padding-bottom: .5vh;
    border-bottom: 2px solid black;
    color: white;
}

.search-bar {
    display: block;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;

    background-color: rgb(50, 53, 53, .80);
    border: 1px solid white;
    border-radius: 10px;

    padding: 2vh;

    min-width: 85vw;
    max-width: 85vw;

}

.search-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
}