

#h2-style-cart {
    padding: 2vh;
    color: white;
    text-align: center;

}

#card-style-mp {
    margin-bottom: 2vh;
}

#lG-buttons-mp {
    display: flex;
    justify-content: space-around;
}

#lG-hp {
    font-size:small;
}

#lGI-title-hp {
    text-align: center;
}

#promo-card-title-mp {
    color: white;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#promocard-cont-mp {
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-around;
    width: 100vw;

}

.but-mp {
    max-width: 12vh;
    min-width: fit-content;
    font-size: xx-small;
    padding-left: -1vw;
    padding-right: -1vw;
    margin-top:.5vh;
}

#form-style-profile {
    max-width: 60vw;
    min-width: 60vw;
}

#form-title-mp {
    text-align: center;
    font-size: larger;
}

.form-label-mp {
    font-size: small;
}

.control-label-mp {
    font-size: small;
}

#form-check-mp {
    font-size: small;
}