 
 
 .cont {

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .info-cont {
    background: #ffffff;
    border-radius: 15px;
    margin: 1%;
    padding: 15px;
  }

  .cardImg {
    max-width:15vw;
    min-width:15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #back-button{
    margin: 10px
  }

  .card {
    max-width:25vw;
    min-width:25vw;
  }

