

    #page-title {  
        margin-top: 1%;
        margin-bottom: 2%;
        color: white;
        text-align: center;
    }
    
    #cont-style {
        border:0.5px solid #ffffff;
        background: #ffffff;
        border-radius: 20px;
        margin-bottom: -5%;
        min-width:90vw;
        max-width: 90vw;

    }

    #top-buffer {
        margin-top: 20px;
    }

    #card-style1 {
        padding: 10px;
        max-height: 75%;
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
    }

    #card-style2 {
        padding: 10px;
        max-height: 75%;
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
    }

    #card-style3 {
        padding: 10px;
        max-height: 75%;
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
    }

    #card-title {
        margin-top: 2%;
        margin-left: 3%;

    }

    #sec-title {
        font-weight: bold;
    }

    #image {
        height: 80%;
        width: 70%;

        border: 2px solid black;
    }

    .ord-items-list-o {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }