

    #page-title {  
        margin-top: 1%;
        margin-bottom: 2%;
        color: white;
        text-align: center;
    }
    
    #cont-style {
        border:0.5px solid #ffffff;
        background: #ffffff;
        border-radius: 20px;
        margin-bottom: -5%;
        min-width:90vw;
        max-width: 90vw;

    }

    #top-buffer {
        margin-top: 20px;
    }

    #card-style1-o {
        padding: 10px;
        max-height: 75%;
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
    }

    .ord-items-list-o {
        border-top: 1px solid black;
    }  

    #card1-col1-o {

        min-width: 8vw;
        max-width: 8vw;

        text-align: center;
    }

    #card1-col2-o {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    #card1-image-o {
        min-width: 5vw;
        max-width: 5vw;

        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    #card-style2 {
        padding: 10px;
        max-height: 75%;
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
    }

    #card-style3 {
        padding: 10px;
        max-height: 75%;
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
    }

    #card-title {
        margin-top: 2%;
        margin-left: 3%;

    }

    #sec-title {
        font-weight: bold;
    }


