

    .basic-nav {
        display: flex;
        justify-content: space-between;
    }

    
    .navbar-brand {
        display: inline-block;
        max-width: min-content;

    }

    img {
        margin: 1%;
        width: 30%;
        border: 2px solid white;
    }

    #logoLink:hover *{
        text-decoration: underline;
    }

    #text_bulldawg {
        font-family: Bebas Neue;
        font-size: 150%;
        padding-top: 2%;
        margin-bottom: -2%;
    }

    #text_books {
        font-family: Bebas Neue;
        font-size: 150%;
        padding-top: 2%;
        margin-bottom: -2%;
    }

    #nav-link-style {
        color: white;
        padding: 10px;
    }

    #search-form-style {
        border-radius: .25rem 0 0 .25rem;
        width: 30%;
    }

    #searchStyle {
        border-radius: .25rem 0 0 .25rem;
        width: 85%;
        font-size: x-small;
    }

    #button-search {
        border-radius: 0 .25rem .25rem 0;
        width: 15%;
        font-size: x-small;
    }

    #button-profile {
        font-size: x-small;

    }

    #button-cart {
        font-size:x-small;

    }
    

    #button-login {
        font-size:x-small;
    }






